@import "../../assets/global.css";

body {
  /* #rootで指定するとページ下部に背景色が適用されないことがある */
  background: var(--background);
}
#root {
  color: var(--dim-white);
  width: auto;
  height: auto;
  text-align: center;
  display: flow-root; /* marginの折り畳み(最下部に背景色が適用されない)を防止 */
}
header {
  background: #3b3c4a;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-container {
  margin: 15px 30px;

  /* 子要素を上下に並べて間隔を調整 */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info {
  color: silver;
}
.info-value {
  font-weight: bold;
}
.tools {
  display: flex;
  border-top: 2px solid gray;
}
.tool {
  flex: 1; /* 等幅に並べる */
  padding: 5px 0; /* デフォルトCSSを上書き */

  /* buttonとanchorの差異を無くす */
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #52525e;
  }
}
.version {
  font-size: 17px;
  color: silver;
  margin: 0 8px;
}
