@import "../../assets/global.css";

body {
    margin: 0;
    padding: 0;
}
header {
    background: #3b3c4a;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
    margin: 10px 30px;
}
summary {
    color: gray;
    font-size: 13px;
    padding: 6px 0;
}
.container {
    background: #292a2d;
    color: var(--dim-white);
    width: auto;
    height: auto;
    text-align: center;
    display: flow-root; /* marginの折り畳み(最下部に背景色が適用されない)を防止 */
}
.filtering-type {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.info {
    font-size: 15px;
    color: var(--lighter-gray);
    margin: 0px 5px;
    .value {
        font-weight: bold;
    }
}
.link-container {
    display: flex;
    margin-right: 14px;
    gap: 8px;
    .link {
        display: flex;
        align-items: center;
    }
}
.log {
    width: 550px;
    height: 400px;
    resize: both;
    overflow: auto;
    background: black;
    color: lightgray;
    font-family: var(--font);
    padding: 4px 0;
    white-space: pre; /* 折り返しを無効化 */
    text-align: start;
    .log-line {
        padding: 0 2px 0 6px;
        .ng-score {
            color: pink;
        }
        .nicoru {
            color: yellow;
        }
        .duplicate {
            color: aqua;
        }
        .strict-symbol {
            color: red;
        }
        .clickable {
            cursor: pointer;
        }
    }
    .comment {
        color: gray;
    }
}
.common-button {
    padding: 3px 10px;
    margin: 5px;
    border: gray 2px solid;
    border-radius: 8px;
    color: var(--lighter-gray);
    font-size: 15px;
}
.selected-button {
    border-color: lightskyblue;
}
.ng-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .ng-button {
        padding: 0;
        margin: 0;
        border: none;
        color: var(--dim-white);
    }
}
#video-id {
    font-size: 20px;
    font-weight: bold;
    color: var(--lighter-gray);
}
#version {
    font-size: 15px;
    color: var(--lighter-gray);
    margin: 0 8px;
}
#message {
    margin: 20px;
    font-weight: bold;
}
#disabled-message {
    color: var(--lighter-gray);
    font-size: 13px;
    color: red;
}
