@import "../../assets/global.css";

body {
    background: var(--background);
    color: white;
    padding: 0 50px 80px 50px;
    margin: 0;
}
h2 {
    border-bottom: 2px solid gray;
    font-size: 18px;
}
.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-container {
    margin-left: 20px;
    .setting {
        margin: 12px;
        > label {
            font-weight: bold;
        }
        .setting-details {
            color: var(--dim-white);
            font-size: 12px;
            margin-left: 25px;
            padding: 4px;
        }
        .checkbox-input {
            margin-left: 20px;
            font-size: 13px;
            font-weight: normal;
        }
    }
}
.link {
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------
tab
------------------------------------------------------------------------------------------- */

.tab-container {
    margin: 0 0 30px 20px;
    white-space: nowrap; /* 折り返さない */

    /* 上部への固定用 */
    position: sticky;
    top: 0;
    background: var(--background); /* デフォルトは透明なので上書き */
    padding-top: 20px; /* bodyで指定したりmarginを使うと上書きできない */
    z-index: 1000;
}
/* tab-containerはスクロール時に上書きできるように右端まで伸ばす
ただし下線はボタンの幅に合わせたいので中間にtab-innerを作り調整する */
.tab-inner {
    width: fit-content;
    border-bottom: 2px solid gray;
}
.tab-button {
    border: none;
    font-size: 18px;
    padding: 12px;
}
.selected-tab-button {
    color: lightskyblue;
    border-bottom: 2px solid lightskyblue;
    margin-bottom: -2px; /* 親のボーダーに重ねる */
}

/* -------------------------------------------------------------------------------------------
button
------------------------------------------------------------------------------------------- */

/* アイコンを含むボタンを中央に揃える */
.button-container {
    display: flex;
    align-items: center;
}
.common-button {
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: gray 3px solid;
    border-radius: 10px;
}
.filter-button {
    padding: 7px 12px;
}
.selected-filter-button {
    border-color: lightskyblue;
}
.support-button {
    display: inline-block; /* anchorをbuttonのように扱う */
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
.import-filter-button {
    padding: 7px 12px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

/* -------------------------------------------------------------------------------------------
CodeMirror用
------------------------------------------------------------------------------------------- */

.cm-editor {
    width: 100%;
    height: 700px;
    resize: both;
    overflow: auto; /* resizeを使うために必要 */
    .cm-vim-panel {
        font-family: var(--font);
    }
    .cm-trailingSpace {
        background: transparent;
    }
    .cm-line:not(.cm-activeLine) .cm-trailingSpace {
        border: 1px solid white;
    }
}
.cm-editor:not(.cm-focused) {
    .cm-fat-cursor {
        outline: none;
    }
}
.cm-content,
.cm-gutter,
.cm-tooltip-autocomplete {
    font-family: var(--font);
    font-weight: normal;
}
