@import "../../assets/global.css";

body {
    background: var(--background);
    color: white;
    padding: 50px;
    margin: 0;
}
h1 {
    margin: 0;
    color: lightgray;
    font-weight: lighter;
}
h2 {
    border-bottom: 2px solid gray;
    font-size: 18px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-container {
    margin-left: 20px;
    .setting {
        margin: 12px;
        > label {
            font-weight: bold;
        }
        .setting-details {
            color: var(--dim-white);
            font-size: 12px;
            margin-left: 25px;
            padding: 4px;
        }
        .checkbox-input {
            margin-left: 20px;
            font-size: 13px;
            font-weight: normal;
        }
    }
}
.link {
    display: flex;
    align-items: center;
}
.message-v6 {
    color: red;
    font-size: 13px;
}

/* -------------------------------------------------------------------------------------------
tab
------------------------------------------------------------------------------------------- */

.tab-container {
    margin: 30px 20px;
    border-bottom: 2px solid gray;
    width: fit-content;
    white-space: nowrap; /* 折り返さない */
}
.tab-button {
    border: none;
    font-size: 18px;
    padding: 12px;
}
.selected-tab-button {
    color: lightskyblue;
    border-bottom: 2px solid lightskyblue;
    margin-bottom: -2px; /* 親のボーダーに重ねる */
}

/* -------------------------------------------------------------------------------------------
button
------------------------------------------------------------------------------------------- */

.common-button {
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border: gray 3px solid;
    border-radius: 10px;
}
.filter-button {
    padding: 7px 12px;
}
.selected-filter-button {
    border-color: lightskyblue;
}
.support-button {
    display: inline-block; /* anchorをbuttonのように扱う */
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

/* -------------------------------------------------------------------------------------------
CodeMirror用
------------------------------------------------------------------------------------------- */

.cm-editor {
    width: 800px;
    height: 600px;
    resize: both;
    overflow: auto; /* resizeを使うために必要 */
    .cm-vim-panel {
        font-family: var(--font);
    }
    .cm-trailingSpace {
        background: transparent;
    }
    .cm-line:not(.cm-activeLine) .cm-trailingSpace {
        border: 1px solid white;
    }
}
.cm-editor:not(.cm-focused) {
    .cm-fat-cursor {
        outline: none;
    }
}
.cm-content,
.cm-gutter,
.cm-tooltip-autocomplete {
    font-family: var(--font);
    font-weight: normal;
}
