@import "../../assets/global.css";

#root {
  background: var(--background);
  color: var(--dim-white);

  /* 高さをウインドウサイズに応じて変える */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.filter-select {
  margin: 10px;
  height: 40px;
}
.blocked {
  color: var(--lighter-gray);
}
.log {
  /* 高さをウインドウサイズに応じて変える */
  flex: 1;
  min-height: 0;
}
.rule {
  display: flex;
  align-items: center;
}
.remove-rule-button {
  border: none;
}
.tab {
  border-bottom: 2px solid gray;
}
.tab-button {
  border: none;
  font-size: 18px;
  padding: 12px;
}
.selected-tab-button {
  color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
  margin-bottom: -2px; /* 親のボーダーに重ねる */
}
