:root {
    --dim-white: #e8eaed;
    --lighter-gray: #c0c0c0;
    --textarea-width: 550px;
    --textarea-height: 400px;
    --font: Consolas;
}
.log {
    width: var(--textarea-width);
    height: var(--textarea-height);
    resize: both;
    overflow: auto;
    background: black;
    color: lightgray;
    font-family: var(--font);
    padding: 4px 0;
    white-space: pre; /* 折り返しを無効化 */
    text-align: start;
}
.log-line {
    padding: 0 2px 0 6px;
}
.comment {
    color: gray;
}
.ng-score {
    color: pink;
}
.nicoru {
    color: yellow;
}
.duplicate {
    color: aqua;
}
