@import "modern-normalize/modern-normalize.css";

:root {
  --background: #292a2d;
  --dim-white: #e8eaed;
  --font: Consolas, monospace;
}

/* colorを継承させる */
input,
button,
select {
  color: inherit;
}
